<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">


        <div class="col-md-12">
            <p>&nbsp;</p>
            <div><span class="text-left"><h4>AWS Dashboard POC</h4></span>
			<p>Click relavant links below to check current status or perform an action </p>
			<p>&nbsp;</p>
            </div>
		<div>
		<div>
			<h3>EC2 Category</h3>
			<div class="list-group col-md-4">
			  <a href="instances/running" class="list-group-item list-group-item-action list-group-item-primary">View Running Instances</a>
			  <a href="instances" class="list-group-item list-group-item-action list-group-item-primary">View All Instances</a>
			  <a href="create_instance" class="list-group-item list-group-item-action list-group-item-primary">Create Instance</a>
			  <a href="delete_instance" class="list-group-item list-group-item-action list-group-item-primary">Stop Instance</a>
			</div>
		<div>
			
        </div>
	</div>
</div>


<!-- Edit POPUP-->

</body>
<html>
